$font-monoton: "Monoton";
$font-montserrat: "Montserrat";
$font-merriweather: "Merriweather";

//color scheme
$main-green: #20d1c6;
$main-blue: #28373e;
$hover-blue: #1f2a30;
$text-blue: #5d7379;

$banner-blue: #8198a0;
$banner-orange: #eeac56;

$light-gray: #e9e7e8;
$darker-gray: #d7d3d2;
$dark-gray: #767676;

//font sizes
$head-font-size: 14px;
$blurb-font-size: 28px;
$info-text-size: 13px;
$teaser-title-size: 28px;
$teaser-blurb-size: 17px;

//sizes
$banner-size: 300px