<footer>
	<div class="container container-small">
		<div class="row footer-info">
			<div class="col-md-4">
				<div class="footer-title">
					About us
				</div>
				<div class="footer-list">
					<div>
						Tristique Malesuada
					</div>				
					<div>
						Cursus
					</div>
					<div>
						Consectetur
					</div>
					<div>
						Euismod Vulputate
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="footer-title">
					Legal
				</div>
				<div class="footer-list">
					<div>
						Etiam Justo Tristique
					</div>				
					<div>
						Vestibulum
					</div>
					<div>
						Inceptos
					</div>
				</div>
			</div>
			<div class="col-md-4"> 
				<div class="footer-title">
					Developers
				</div>
				<div class="footer-list">
					<div>
						Cras mattis consectetur 
					</div>				
					<div>
						 Purus sit amet  
					</div>
					<div>
						Fermentum
					</div>
					<div>
						Etiam porta sem malesuada
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>